//* =================================== Colors variables
$color-white: #ffff;
$color-grey: #8c8c91;
$color-Radical-Red: #fa2d64;
$color-Neon-Silver: #b1b1b9;
$color-white-smoke: #f7f7f9;
$color-Ghost-White: #eeeef7;

//* ================================ Font Size
$font-size-small: 1rem;
$font-size-small-2: 1.4rem;
$font-size-medium: 1.5rem;
$font-size-medium-2: 1.8rem;
$font-size-medium-3: 2.2rem;
$font-size-medium-1: 1.6rem;
$font-size-logo: 3rem;
$font-size-small-logo: 2.5rem;
$font-size-large: 4rem;
$font-size-extra-large: 5rem;
